<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brolei.aikb.infrastructure.persistence.knowledge.mapper.DocumentChunkMapper">

    <select id="findByChunkIds" resultType="com.brolei.aikb.infrastructure.persistence.knowledge.po.DocumentChunkPo">
        SELECT * FROM document_chunks WHERE id IN
        <foreach collection="chunkIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
